/dts-v1/;
/plugin/;

/ {
	overlay-name = "Seeed A203 V2 Carrier Board";
	compatible = "nvidia,tegra194";

	fragment@0 {
		target-path = "/";

		__overlay__ {
			serial@c280000 {
				status = "okay";
			};
		};
	};
};
