[Unit]
Description=Initialize persistent data partition (UDA)
After=dev-disk-by\x2dpartlabel-UDA.device local-fs-pre.target
Wants=dev-disk-by\x2dpartlabel-UDA.device
Before=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/banks-persist-setup
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
