[Unit]
Description=Initialize persistent data partition (UDA)
DefaultDependencies=no
Before=local-fs.target banks-persist.mount
After=dev-disk-by\x2dpartlabel-UDA.device

[Service]
Type=oneshot
ExecStart=/usr/sbin/banks-persist-setup
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
